body{
    background-color: rgb(199, 131, 30);
    color: aqua;
    text-align: center;
}
img{
    height: 600px;
    width: auto;
}
h1,h4,h3{
border: solid violet 5px;
}
h3,h4{
   display:block;
}
h1{
    margin-bottom: 40px;
    display:block;
}